ul {
	padding: 0;
	margin: 0;
}

.book-catalog
{
	min-height:600px;
	border: 1px solid #d4d4d4;
}
.chapter .title {
	
	height: 28px;
	line-height: 28px;
	padding-left: 5px;
	background: #eee;
	font-size:16px;
	font-weight:600;
	cursor: pointer;
	border-bottom: 1px solid #008c8c;
}

.chapter .section {

	background: #f5f5f5;
}

.chapter .section ul li{
	padding-left: 25px;
	border-bottom: 1px solid #fff;
	line-height: 180%;
	color:#fff;
	
}

.chapter .section a{
	color: #666;
}

.knowledge-content
{
	border-bottom: 1px solid #d4d4d4;
	border-right: 1px solid #d4d4d4;
	padding:20px;
}